/***********************TAG SELECTORS**************************/


body{
    background: content-box radial-gradient(crimson, skyblue);
}
hr {
    border-color: grey;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 5%;
}
h1{
    color: #66BFBF;
}
h2{
    color: #66BFBF;
}
/***************************CLASS SELECTORS************************/

.skills{
    background: content-box radial-gradient(skyblue, crimson);
}

/***************************ID SELECTORS****************************/

#Education{
    color: #66BFBF;
}